@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
}
:root{

}


body{
    background: #ccc9c9;    
    font-family: 'Roboto', sans-serif;
    margin: 0;
    
}

h1,h2,h3,h4,.navbar a{
    font-family: 'Forum', cursive;
}

/* main navbar */
.navbar{
    display: flex;
    list-style-type: none;    
    justify-content: flex-end;
}

.navbar a{
    text-decoration: none;
    color: black;
    box-shadow: .1em .1em black;    
    font-size: 2em;
    border: 4px solid;
    padding:4px;
    background: blanchedalmond;
}

.navbar a:hover{
    border:4px solid #fc0;
}

.navbar a:active{
    color:darkslateblue;
}

.nav-item{
    margin:1em;
}

.title{
  position: absolute;
  left:1.2em;
  background: rgba(130,120,120,15%);
  padding: .3em;
  font-style: italic;
}

main.about{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tagline{
    position: absolute;
    right: 1.3em;
    top:3em;
    font-size:3em;
    text-transform: uppercase;
    font-weight: 200;
    border:4px solid;
    padding:8px;
    background: lavender;
    letter-spacing: -.2rem;
    box-shadow: .1em .1em black;
    transition: transform .3s ease, box-shadow .3s ease;
}

.tagline:hover{
    box-shadow:none;
    transform: translateX(.1em) translateY(.1em);
}
.tagline span{
    color:darkblue;
}

/* about page*/

.about-me-text{
    width: 40ch;
    margin:1em;
    font-size:2rem;
}

.about-me-img{
    height: 25em;
    margin:2em;
}

/* writing page */

main.writing{
    display: grid;
    padding: 1em;
    font-size:2rem;
    grid-template-columns: minmax(1em, 1fr) minmax(auto,50ch) minmax(1em, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "... main ...."
    ".. links .";
}

main.writing p{
    grid-area: main;
}

.article-list{
    grid-area: links;
}

/* Work Page */

main.work{
    display: grid;
    font-size: 2rem;
    grid-template-columns: minmax(1em, 1fr) minmax(auto,50ch) minmax(1em, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "... desc ...."
    ".. links .";
}

.desc{
    grid-area: desc;
}
.project-card{
    background:lavender;
    padding:1em;
    
    margin:1em;
    transition: box-shadow .5s ease;
}

.project-card:hover{
    box-shadow: 4px 4px 4px 4px grey;
}

.date{
    color:rgb(131, 125, 125);
}

.project-card img{
    height:12em;
}

.card-link{
    text-decoration: none;
    color: black;
    grid-area: links;
}

/* contact page */

main.contact{
    display: grid;
    font-size: 2rem;
    grid-template-columns: minmax(1em, 1fr) minmax(auto,50ch) minmax(1em, 1fr);
    grid-template-areas: "... contact ....";
}

main.contact > *{
    grid-area: contact;
 
}

/* painting */

canvas{
  -webkit-box-reflect: below 4px linear-gradient(transparent 10%,black);
  z-index: -40;
  position: absolute;
  bottom: calc(15% + 6em);
}


/* media queries */
@media (max-width:600px){
    body{
        font-size: 8px !important;
    }

    .about-me-img{
        height: 15em;
    
    }

    .about-me-text{
      width: 90%;
    }

    .container-painting{
        height:40%;
        width: 70%;
    }
   
}

