@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
}
:root{

}


body{
    background: #ccc9c9;
    line-height: 1.5;
    letter-spacing: .1em;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1,h2,h3,h4,.navbar a{
    font-family: 'Playfair Display', serif;
}

/* main navbar */
.navbar{
    display: flex;
    list-style-type: none;    
    justify-content: flex-end;
}

.navbar a{
    text-decoration: none;
    color: black;
}
.navbar li{
    background: rgba(130,120,120,15%);
}

.navbar a:hover{
    color:darkslateblue;
}

.navbar a:active{
  color: #fc0;
}

.nav-item{
    margin:1em;
}

.title{
  position: absolute;
  left:1.2em;
  background: rgba(130,120,120,15%);
  padding: .3em;
  font-style: italic;
}

main.about{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tagline{
    position: absolute;
    right: 2em;
    font-weight: 200;
}

.tagline span{
    color:indianred;
}

/* about page*/

.about-me-text{
    width: 40ch;
    margin:2em;
    font-size: 1.4em;
}

.about-me-img{
    height: 25em;
    margin:2em;
}

/* writing page */

main.writing{
    display: grid;
    padding: 1em;
    grid-template-columns: minmax(1em, 1fr) minmax(auto,50ch) minmax(1em, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "... main ...."
    ".. links .";
}

main.writing p{
    grid-area: main;
}

.article-list{
    grid-area: links;
}

/* Work Page */

main.work{
    display: grid;
    grid-template-columns: repeat(2, minmax(421px,1fr));
    grid-template-areas: 
    "heading heading"
    "card card";

}
.work-heading{
    font-size: 1.5em;
    margin:1em;
    grid-area: heading;
}

.project-card{
    background:lavender;
    padding:1em;
    grid-area: card;
    margin:1em;
    transition: box-shadow .5s ease;
}

.project-card:hover{
    box-shadow: 4px 4px 4px 4px grey;
}

.date{
    color:rgb(131, 125, 125);
}

.project-card img{
    height:12em;
}

.card-link{
    text-decoration: none;
    color: black
}

/* contact page */

main.contact{

}

main.contact p{
 
}

/* painting */

canvas{
  -webkit-box-reflect: below 4px linear-gradient(transparent 10%,black);
  z-index: -40;
  position: absolute;
  bottom: calc(15% + 6em);
}

.sun{
  height: 6em;
  width: 6em;
  border-radius: 50%;
  box-shadow: 0 0 20px gold,0 0 40px yellow, 0 0 80px orange;
  background: gold;
  position: absolute;
  right:4em;
  bottom: 14em;
  -webkit-box-reflect: below 4em;
}

.ground{
  height: 2em;
  width:20em;
  border-radius: 50%;
  background: #228b22;
  position: absolute;
  bottom:11.3em;
  -webkit-box-reflect: below -1em;
}

.ground2{
  border-radius: 50%;
  height:5em;
  width:10em;
  position: absolute;
  left: 20em;
  bottom:11.2em;
  background: lightgreen;
  transform: rotate(0deg);
  border-radius: 5em 5em 0 0;
  -webkit-box-reflect: below 0em;
}

.ground2::before{
  content: "";
  position: absolute;
  left: 90%;
  border-left: 2em solid transparent;
  border-right: 5em solid transparent; 
  border-bottom: 5em solid grey;
}

.ground2::after{
  content: "";
  position: absolute;
  left: calc(100% + 2em);
  border-left: 2em solid transparent;
  border-right: 12em solid transparent; 
  border-bottom: 5em solid grey;
}

.water{
  z-index:50;
  background: linear-gradient(cyan, transparent);
  height:6em;
  width:100%;
  left: 0%;
  position: absolute;
  bottom:15%;
  filter: blur(2px);
}

/* media queries */
@media (max-width:600px){
    body{
        font-size: 14px;
    }

    main.about{
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: 100%;
        place-items: center;
    }

    .about-me-img{
        height: 15em;
    
    }

    .about-me-text{
      width: 90%;
    }

    main.work{
        padding:1em;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "heading"
        "card";
    }

    .container-painting{
        height:40%;
        width: 70%;
    }

    main.index{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 100%;
    }    
}

